html {
  /* font-size: 10px; */
  /* Therefore, 1rem = 10px */
  // Already in CSS Reset
  // font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;

  // @include respond(tab-land) {
  //   font-size: 56.25%;
  // }

  // @include respond(tab-port) {
  //   font-size: 50%;
  // }

  // @include respond(big-desktop) {
  //   font-size: 75%;
  // }
}

/* Using the power of inheritance, we set properties like font in the body */
body {
  box-sizing: border-box;
  // padding: 3rem;
  background: $background-color;
  height: 100%;
  overflow: auto;

  // @include respond(tab-port) {
  //   padding: 0;
  // }
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}
a:hover {
  opacity: 0.88;
}
button {
  &:hover {
    opacity: 0.88;
  }
}

::selection {
  background-color: $primary-color;
  color: $white;
}
