// Theme Colors
$primary-color: #f5a623;
$background-color: #f2f2f2;
$secondary-color: #4f4f4f;
$tertiary-color: #4a4a4a;
$text-color: #333333;
$subtext-color: #12122c;

$red: #eb5757;
$green: #219653;
$white: #fff;
$black: #000;

$primary-font: Flutterwave, sans-serif;
$secondary-font: 'SF Display';
$tertiary-font: 'Open Sans', sans-serif;
$default-font-size: 1rem;
$base-line-height: 1.6;
$base-heading: 2.25rem;

$border-color: #e0e0e0;
$input-color: #fdfdfd;
$btn-color: #f5a623;
$input-border: lighten($text-color, 40%);
