@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: Flutterwave;
  font-weight: 400;
  src: local('Flutterwave'),
    url('~@/assets/fonts/FLW-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Flutterwave;
  font-weight: 700;
  font-style: normal;
  src: local('Flutterwave'),
    url('~@/assets/fonts/8acb0e3.ttf') format('truetype');
}
@font-face {
  font-family: Flutterwave;
  font-weight: 900;
  src: local('Flutterwave'),
    url('~@/assets/fonts/2b2a06b.ttf') format('truetype');
}
@font-face {
  font-family: 'SF Display';
  font-weight: 500;
  src: url('~@/assets/fonts/SF-UI-Display-Medium.otf');
}

@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/reset';

@import 'components/button';
